# MySQL
DB_HOST=localhost
DB_DATABASE=db_todoapp
DB_ROOT_PASSWORD=admin_pwd
DB_USER=app_user
DB_PASSWORD=app_password
DB_PORT=3306

# Redis
REDIS_PASSWORD=admin_pwd

# MongoDB
MONGO_ROOT_USERNAME=admin_user
MONGO_ROOT_PASSWORD=admin_pwd
MONGO_APP_PASSWORD=app_backend_secure_password
MONGO_ADMIN_PASSWORD=admin_app_secure_password
MONGO_BACKUP_PASSWORD=backup_user_secure_password
DB_URL=mongodb://app_backend:app_backend_secure_password@localhost:27017/db_todoapp?authSource=db_todoapp
