# MySQL
DB_HOST=localhost
DB_DATABASE=db_todoapp
DB_ROOT_PASSWORD=admin_pwd
DB_USER=app_user
DB_PASSWORD=app_password
DB_PORT=3306

# Redis
REDIS_PASSWORD=admin_pwd

# MongoDB
MONGO_ROOT_USERNAME=admin_user
MONGO_ROOT_PASSWORD=admin_pwd
